#canvas {
    width: 100vw;
    height: 100vw; /* 100/56.25 = 1.778 */
    background: pink;
    max-height: 100vh;
    max-width: 100vh; /* 16/9 = 1.778 */
    margin: auto;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
}

body {
    background-color: black;
}