#canvas {
    width: 100vw;
    height: 100vw; /* 100/56.25 = 1.778 */
    background: black;
    max-height: 100vh;
    max-width: 100vh; /* 16/9 = 1.778 */
    margin: auto;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
}

body {
    background-color: black;
}

#timeWrapper {
}

.overlay {
    float: left;
    clear: left;
    position: relative;
    font-size: 100px;
    color: white;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}