body {
	overflow: hidden;
	margin: 0px;
	background-color: black;
}

canvas {
	position: absolute;
	top: 50%;
	left: 50%;
}

.t-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}